/* css used for the hero boxes animation in our landing.js file */

.box-animation-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.hero-figure {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 100%;
  height: 100%;
}

.hero-figure-box {
  position: absolute;
  will-change: transform;
}

.hero-figure-box-01 {
  left: 168px;
  top: 56px;
  width: 39.24%;
  height: 52.32%;
  background: linear-gradient(to left top, #00BFFB, rgba(0, 191, 251, 0));
  transform: rotateZ(45deg);
}

.hero-figure-box-02 {
  left: 112px;
  top: 112px;
  width: 53.11%;
  height: 70.7%;
  background: linear-gradient(to left top, #0270D7, rgba(2, 112, 215, 0));
  transform: rotateZ(-45deg);
}

.hero-figure-box-03 {
  left: 56px;
  top: 168px;
  width: 78.69%;
  height: 106.05%;
  background: linear-gradient(to left top, #00BFFB, rgba(0, 191, 251, 0));
}

.hero-figure-box-04 {
  left: 168px;
  top: 168px;
  width: 63.63%;
  height: 84.84%;
  background: linear-gradient(to left top, #0270D7, rgba(2, 112, 215, 0));
  transform: rotateZ(-135deg);
}

.hero-figure-box-05 {
  left: 224px;
  top: 168px;
  width: 89.6%;
  height: 103.18%;
  background: linear-gradient(160deg, #2e2f34 0%, #1c1d21 100%);
  box-shadow: -20px 32px 64px rgba(0, 0, 0, 0.25);
}

.hero-figure-box-06 {
  left: 224px;
  top: 112px;
  width: 42.42%;
  height: 56.56%;
  background-color: #242830;
  box-shadow: -20px 32px 64px rgba(0, 0, 0, 0.25);
  transform: rotateZ(20deg);
}

.hero-figure-box-07 {
  left: 224px;
  top: 56px;
  width: 16.97%;
  height: 22.62%;
  background-color: #242830;
  box-shadow: -20px 32px 64px rgba(0, 0, 0, 0.25);
  transform: rotateZ(20deg);
}

.hero-figure-box-08 {
  left: 112px;
  top: 56px;
  width: 20.31%;
  height: 36.41%;
  background: linear-gradient(158deg, #0270D7 0%, #004A9E 100%);
  transform: rotateZ(-22deg);
}

.hero-figure-box-09 {
  left: 56px;
  top: 112px;
  width: 9.28%;
  height: 12.36%;
  background: linear-gradient(158deg, #00BFFB 0%, #0092D2 100%);
  transform: rotateZ(-52deg);
}

.hero-figure-box-10 {
  left: 0;
  top: 0;
  width: 4.24%;
  height: 5.66%;
  background: rgba(0, 191, 251, 0.32);
  transform: rotateZ(-50deg);
}
