body {
    font-family: 'Inconsolata', Open Sans, Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  :root {
    --dark-bg: #1f1f1f;
    --light-text: #f8f8f8;
    --accent-color: #007bff;
    --border-color: #444;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  
  .form-container {
    margin-top: 2rem; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10em;
    background-image: linear-gradient(145deg, #2c3e50, #003366, #8e44ad);
    box-shadow:
      0 0 60px 30px rgba(245, 215, 110, 0.3),  /* inner mustard */
      0 0 100px 60px rgba(245, 215, 110, 0.2), /* middle mustard */
      0 0 140px 90px rgba(245, 215, 110, 0.1); /* outer mustard */
    transform: perspective(500px) rotateX(1deg);
  }
  
  .form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  
  @media (max-width: 767px) {
    .form-content {
      flex-direction: column;
    }
    .form-instructions {
      order: -1;
      margin-top: 1rem;
      max-width: 100%;
    }
  }
  
  .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-instructions {
    max-width: 50%;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type='file'], input[type='number'] {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #f8f8f8;
  }
  
  input[type='number'] {
    width: 5rem;
  }
  
  button[type='submit'] {
    align-self: center;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #f8f8f8;
    cursor: pointer;
    font-size: 16px;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  button[type='submit']:hover {
    background-color: #2980b9;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
  
  button:hover {
    color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
  
  .preview {
    text-align: left;
    margin-top: 4rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--dark-bg);
  }
  
  textarea {
    width: 100%;
    background-color: #333;
    color: var(--light-text);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0.5rem;
    font-family: inherit;
  }
  
  .instructions-text {
    padding: 0 1rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .App {
    background-image: linear-gradient(135deg, #1f1f1f 0%, #007bff 100%);
    margin-top: 0em; /* add this property */
    display: flex;
  }
  
  #typed-text {
    display: inline-block;
    color: #FFDB58; /* mustard yellow */
    padding-bottom: 2rem;
    /* min-height: 1.5em; */ /* remove or adjust this property */
  }
  
  .typed-text-container {
    min-height: 3rem; /* Adjust this value to accommodate the height of your text */
  }
  
  .typed-cursor {
    font-size: 2em;
  }
  
  .loader-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out;
  }
  
  .loader-container.show {
    opacity: 1;
    visibility: visible;
  }
  
  .loader {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 3rem auto;
  }
  
  .luminaire {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFDB58; /* mustard yellow */
    animation: loading 1.6s infinite;
  }
  
  .luminaire:nth-child(2) {
    animation-delay: -0.8s;
  }

  .input-black-text {
    color: rgb(25, 24, 24);
  }  
  
  @keyframes loading {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  .hide {
    display: none;
  }