.features {
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    position: relative;
    z-index: 10;
  }
  
  .features-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .features-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  
  @media (max-width: 768px) {
    .features-wrap {
      grid-template-columns: repeat(2, 1fr);
    }
    .features {
      margin-top: 5rem; /* Add some space on mobile devices */
    }
  }
  
  @media (max-width: 480px) {
    .features-wrap {
      grid-template-columns: 1fr;
    }
  }
  
  .feature {
    padding: 2rem;
  }

  .feature-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16rem;
    overflow: hidden;
  }
  
  .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgba(240, 242, 247, 0.179);
  }
  
  .features-white-text {
    color: rgb(220, 208, 208);
    font-size: 1.25rem;
  }  

  .feature-title-text {
    font-weight: bold;
    font-size: 1.75rem; 
    color: rgb(192, 176, 129)
  }  
  
  .text-center {
    text-align: center;
  }
  
  .text-sm {
    font-size: 0.90rem;
  }
  
  .mt-24 {
    margin-top: 1.5rem;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  