.features {
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  position: relative;
  z-index: 2;
}

.features-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.features-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.feature {
  padding: 2rem;
  box-sizing: border-box;
  flex-basis: calc(33.333% - 4rem);
  max-width: calc(33.333% - 4rem);
}

@media (max-width: 768px) {
  .feature {
    flex-basis: calc(50% - 4rem);
    max-width: calc(50% - 4rem);
  }
}

@media (max-width: 480px) {
  .feature {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.feature-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow: hidden;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(240, 242, 247, 0.179);
}

.features-white-text {
  color: rgb(220, 208, 208);
  font-size: 1.25rem;
}  

.feature-title-text {
  font-weight: bold;
  font-size: 1.75rem; 
  color: rgb(192, 176, 129)
}  

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 0.90rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.mb-0 {
  margin-bottom: 0;
}
