.counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  z-index: 15;
  position: relative;
  padding-top: 10%;
}

.counter {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 350px;
  background-color: rgba(88, 127, 184, 0.75); /* Add transparency */
  box-sizing: border-box; /* Add box-sizing */
  min-height: 70px; /* Add min-height */
  display: flex; /* Add display */
  flex-direction: column; /* Add flex-direction */
  justify-content: center; /* Add justify-content */
}

.github-icon {
  margin-right: 8px;
}

.counter-value {
  font-size: 1.25rem;
  font-weight: bold;
  color: #f0a40d;
}

.counter-label {
  font-size: 1rem;
  color: #ffffff;
}

@media (min-width: 768px) {
  .counter {
    width: calc(35% - 10px); /* Adjust width percentage and subtraction value */
    margin-right: 15px; /* Add margin-right for spacing between boxes */
  }
}
