.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #415d93;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }  
  
  .banner-link {
    text-decoration: none;
    color: #cbd5e0;
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .logout-button {
    margin-left: 1rem;
  }